body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 16px; /* Установим размер шрифта для текста в полях */
}

/* Кнопка VK вход */
.VkIdWebSdk__button_reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
  }

  .VkIdWebSdk__button {
    background: #0077ff;
    cursor: pointer;
    transition: all .1s ease-out;
  }

  .VkIdWebSdk__button:hover{
    opacity: 0.8;
  }

  .VkIdWebSdk__button:active {
    opacity: .7;
    transform: scale(.97);
  }

  .VkIdWebSdk__button {
    border-radius: 8px;
    width: 100%;
    min-height: 44px;
  }

  .VkIdWebSdk__button_container {
    display: flex;
    align-items: center;
    padding: 8px 10px;
  }

  .VkIdWebSdk__button_icon + .VkIdWebSdk__button_text {
    margin-left: -28px;
  }

  .VkIdWebSdk__button_text {
    display: flex;
    font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
    flex: 1;
    justify-content: center;
    color: #ffffff;
  }